.custom_btn {
    background-color: #e018d3; /* Blue background */
    color: #FFFFFF; /* White text */
    padding: 12px 24px; /* Padding */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Cursor pointer */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

.custom_btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
    animation: shake 0.5s; /* Shake animation on hover */
}

/* Animation for shaking effect */
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    50%
     {
        transform: translateX(10px);
    }
    100%
     {
        transform: translateX(-10px);
    }
    
}
